:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
  position: relative;
}

.container-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.btn-load {
  align-self: center;
  margin: 20px;
}
