rules_version = '2';

service cloud.firestore {

  function isSignedIn() {
    return request.auth != null;
  }

  function clientIsValid() {
    return request.resource.data.company is string &&
    request.resource.data.contact is string &&
    request.resource.data.createdAt is timestamp &&
    request.resource.data.updatedAt is timestamp;
  }

  function offerIsValid() {
    return request.resource.data.clientId is string &&
    request.resource.data.subject is string &&
    request.resource.data.price is number &&
    request.resource.data.createdAt is timestamp &&
    request.resource.data.updatedAt is timestamp;
  }

  match /databases/{database}/documents {

    match /clients {
      allow read, write: if isSignedIn();
    }

    match /clients/{clientId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && clientIsValid();
      allow update: if isSignedIn() && clientIsValid() && request.resource.data.createdAt == resource.data.createdAt;
      allow delete: if isSignedIn();
    }

    match /offers {
      allow read, write: if isSignedIn();
    }

    match /offers/{offerId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && offerIsValid();
      allow update: if isSignedIn() && offerIsValid() && request.resource.data.createdAt == resource.data.createdAt;
      allow delete: if isSignedIn();
    }
  }
}