<form [formGroup]="registerForm" (submit)="register()" (input)="resetError()" spellcheck="false">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" name="email" autocomplete="email" />
    @if (email.errors?.["required"]) {
      <mat-error>{{ messages.ErrEmailRequired }}</mat-error>
    } @else if (email.errors?.["email"]) {
      <mat-error>{{ messages.ErrEmailFormat }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Teljes név</mat-label>
    <input matInput formControlName="fullname" name="fullname" />
    @if (fullname.errors?.["required"]) {
      <mat-error>{{ messages.ErrFullNameRequired }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Jelszó</mat-label>
    <input type="password" matInput formControlName="password" name="password" autocomplete="new-password" />
    <mat-hint align="end">Jelszó hossza: {{ password.value?.length }}</mat-hint>
    @if (password.errors?.["required"]) {
      <mat-error>{{ messages.ErrPasswordRequired }}</mat-error>
    } @else if (password.errors?.["minlength"]) {
      <mat-error>{{ messages.ErrPasswordMinLength }}</mat-error>
    } @else if (password.errors?.["maxlength"]) {
      <mat-error>{{ messages.ErrPasswordMaxLength }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Jelszó megerősítése</mat-label>
    <input type="password" matInput formControlName="passwordConfirm" name="password-confirm" />
    @if (passwordConfirm.errors?.["required"]) {
      <mat-error>{{ messages.ErrPasswordConfirmRequired }}</mat-error>
    } @else if (passwordConfirm.errors?.["mismatch"]) {
      <mat-error>{{ messages.ErrPasswordConfirm }}</mat-error>
    }
  </mat-form-field>
  @if (registerError) {
    <mat-error>{{ registerError }}</mat-error>
  }
  <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Regisztráció</button>
</form>
