:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: #333;
}

mat-tab-group {
  background-color: #fff;
  color: #333;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #333;
}
