<div class="header">
  <h2>Szakértők listája</h2>
  <hr />
</div>
@if (isLoadingResults) {
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
}
@if (!isLoadingResults && experts.length === 0) {
  <p class="text-center" style="margin-left: 20px">A szakértők listája üres</p>
}
@if (experts.length > 0) {
  <div class="table-wrapper">
    <table mat-table [dataSource]="experts">
      <ng-container matColumnDef="firebaseId">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let expert">{{ expert.firebaseId }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Teljes név</th>
        <td mat-cell *matCellDef="let expert">{{ expert.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let expert">{{ expert.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
}
