:host {
  border-left: 1px solid black;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

h1 {
  margin: 0;
  display: flex;
  gap: 10px;
}

.subcategories {
  margin: 0;
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;

  .textarea {
    width: 300px;
    padding-top: 10px;
  }
}

.btn-panel {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
}
