<button mat-icon-button (click)="drawer.toggle()" class="btn-close">
  <mat-icon>close</mat-icon>
</button>
<h1>Ajánlat adatai<app-state-icon [state]="offerState ? true : null"></app-state-icon></h1>
<hr class="w-full" />
<app-create-offer [offer]="offer" (valid)="offerState = $event"></app-create-offer>
<h1>
  <span>Dokumentum összeállítása</span>
  <app-state-icon [state]="documentState ? true : null"></app-state-icon>
  <button mat-button color="primary" (click)="editPrices()"><mat-icon>edit</mat-icon>Árak módosítása</button>
</h1>
<hr class="w-full" />
<form (submit)="generateOffer()" spellcheck="false">
  @for (category of offerForm; track i; let i = $index) {
    <mat-checkbox (change)="toggleCategory(i)" [checked]="category.selected">{{ category.name }}</mat-checkbox>
    @if (category.offerOptions.length > 0 && category.selected) {
      <ul class="subcategories">
        @for (option of category.offerOptions; track j; let j = $index) {
          <li>
            <mat-checkbox (change)="toggleSubCategory(i, j)" [checked]="option.selected">{{ option.name }}</mat-checkbox>
          </li>
        }
      </ul>
    }
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Ajánlati összeg</mat-label>
    <input type="number" matInput [(ngModel)]="offer.price" name="price" />
  </mat-form-field>
  <mat-form-field class="textarea" subscriptSizing="dynamic">
    <mat-label>Megjegyzés</mat-label>
    <textarea matInput cdkTextareaAutosize [(ngModel)]="offer.comment" name="comment"></textarea>
  </mat-form-field>
  <div class="btn-panel">
    <button mat-raised-button color="primary" class="btn-generate" [disabled]="!offerState || !documentState">Dokumentum kiállítása</button>
    @if (generationStage === 100) {
      <button mat-raised-button color="primary" type="button" (click)="downloadOffer()"><mat-icon>download</mat-icon>Letöltés</button>
      <button mat-raised-button color="accent" type="button" (click)="goOfferDetails()"><mat-icon>open_in_new</mat-icon>Ajánlat megtekintése</button>
    }
  </div>
  <div class="progress">
    @if (generationStage > 0) {
      @switch (generationStage) {
        @case (20) {
          <span>Ajánlat létrehozása...</span>
        }
        @case (40) {
          <span>Fájl generálása...</span>
        }
        @case (100) {
          <div class="generation-result">
            <span>Ajánlat elkészült!</span>
            <app-state-icon [state]="true" />
          </div>
        }
      }
      @if (generationStage < 100) {
        <mat-progress-bar mode="determinate" [value]="generationStage"></mat-progress-bar>
      }
    }
  </div>
</form>
