<form spellcheck="false" (input)="handleChange()">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Tárgy</mat-label>
    <input matInput [(ngModel)]="offer.subject" name="subject" required />
    @if (!offer.subject) {
      <mat-error>Tárgy megadása kötelező</mat-error>
    }
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>MS / Tanácsadó</mat-label>
    <input matInput [(ngModel)]="offer.commonAdvisor" name="commonAdvisor" />
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Szakértő</mat-label>
    <input matInput [(ngModel)]="offer.expert" name="expert" (input)="filterExperts()" (focus)="filterExperts()" [matAutocomplete]="auto" required />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of experts; track option) {
        <mat-option [value]="option.fullname">{{ option.fullname }}</mat-option>
      }
    </mat-autocomplete>
    @if (!offer.expert) {
      <mat-error>Szakértő megadása kötelező</mat-error>
    }
  </mat-form-field>
</form>
